<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for n in juegos%}
         
        <p>Nombre = {{n.nombre}}</p>
        <p>Desarrollador = {{n.desarrollador}}</p>
        <p>Genero = {{n.genero}}</p>
        <p>Lanzamiento = {{n.lanzamiento}}</p>
        <p>Puntuacion = {{n.puntuacion}}</p>

    {% endfor %}




     


</body>
</html>